.bg-myBlue {
  background-color: #35cfe0;
}

img {
  height: 30px;
  width: 30px;
  margin: 5px;
}

#tabla {
  margin-top: 1.5rem;
  /* margin-left: 5rem; */
  margin-right: 5rem;
}

#card {
  /* display: none; */
}

.card {
  margin-top: 1.5rem;
}
